.inner-pages-hero-section {
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-video {
        video {
            width: 100%;
            min-height: 70vh;
        }
    }
    .banner-content {
        width: 100%;
        max-width: 53%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // padding-top: 100px;
        h1 {
            font-size: 57px;
            line-height: 1.2;
            color: $primary;
            font-weight: $black;
            font-family: $fontMain;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        p {
            font-size: 25px;
            line-height: 1.6;
            color: $primary;
            font-weight: $regular;
            font-family: $fontMain;
            margin-bottom: 30px;
        }
        .banner-content2{
            p{
                font-size: 18px;
            }
        }
    }
    .tsh_breadcrumbs {
        position: absolute;
        top: 179px;
        left: 140px;
        z-index: 9;
        @include flexbox();
        @include align-items(center);
        li{
            list-style: none;
            margin-right: 9px;
            a{
                font-size: 16px;
                line-height: 1.2;
                color: #BCBCBC;
                font-weight: $regular;
                font-family: $fontMain;
            }
            .bread-current{
                @extend a;
                color: #ED207A;
                font-weight: $medium;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
section.inner-pages-hero-section.Admissions.FAQs {
    min-height: 65vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-video {
        video {
            width: 100%;
            min-height: 65vh;
        }
    }
    .banner-content {
        width: 100%;
        max-width: 43%;
        margin: 0 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        // padding-top: 100px;
        h1 {
            font-size: 57px;
            line-height: 1.2;
            color: $primary;
            font-weight: $black;
            font-family: $fontMain;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        p {
            font-size: 25px;
            line-height: 1.6;
            color: $primary;
            font-weight: $regular;
            font-family: $fontMain;
            margin-bottom: 30px;
        }
        .banner-content2{
            p{
                font-size: 18px;
            }
        }
    }
}
section.inner-pages-hero-section.Reco.Alumni.Camping.Trip{
    .tsh_breadcrumbs {
        position: absolute;
        top: unset;
        bottom: -60px;
        left: 140px;
        z-index: 9;
        @include flexbox();
        @include align-items(center);
        li{
            list-style: none;
            margin-right: 9px;
            a{
                font-size: 16px;
                line-height: 1.2;
                color: #BCBCBC;
                font-weight: $regular;
                font-family: $fontMain;
            }
            .bread-current{
                @extend a;
                color: #ED207A;
                font-weight: $medium;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}
// RESPONSIVE SEC START:
@media only screen and (max-width: $breakpoint-desktop-xl){
    .inner-pages-hero-section {
        .banner-content {
            max-width: 56%;
            top: 60%;
        }
    }
}
@media only screen and (max-width: $breakpoint-desktop-med){
    .inner-pages-hero-section {
        min-height: 100vh;
        .banner-video {
            video {
                width: 100%;
                min-height: 100vh;
            }
        }
        .banner-content {
            padding: 100px 0px;
            max-width: 59%;
        }
    }
}
@media only screen and (max-width: $breakpoint-desktop-sm){
    .inner-pages-hero-section {
        min-height: 100vh;
        position: relative;
    
        .banner-video {
            video {
                width: 100%;
                min-height: 100vh;
            }
        }
        .banner-content {
            padding: 100px 0px;
            h1 {
                font-size: 47px;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 19px;
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-desktop-xs){
    .inner-pages-hero-section {
        .banner-content {
            max-width: 65%;
            h1{
                font-size: 45px;
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-tablet-lg){
    .inner-pages-hero-section {
        min-height: 80vh;
        .banner-video {
            video {
                width: 100%;
                min-height: 70vh;
            }
        }
        .banner-content {
            max-width: 69%;
            top: 55%;
            h1 {
                font-size: 37px;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 17px;
            }
        }
        .tsh_breadcrumbs {
            display: none;
        }
    }
    section.inner-pages-hero-section.Reco.Alumni.Camping.Trip{
        .tsh_breadcrumbs {
            display: none;
        }
    }
}
@media only screen and (max-width: $breakpoint-tablet-md){
    .inner-pages-hero-section {
        .banner-video {
            video {
                min-height: 50vh;
            }
        }
        .banner-content {
            max-width: 77%;
            h1 {
                font-size: 27px;
            }
    
            p {
                font-size: 15px;
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-tablet-sm){
    .inner-pages-hero-section {
        // min-height: 70vh;
        .banner-video {
            video {
                min-height: 50vh;
            }
        }
        .banner-content {
            max-width: 100%;
            padding: 100px 30px;
            h1 {
                font-size: 27px;
            }
    
            p {
                font-size: 15px;
            }
            .banner-content2{
                p {
                    font-size: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-phone){
    .inner-pages-hero-section {
        .banner-video {
            video {
                min-height: 50vh;
            }
        }
        .banner-content {
            max-width: 100%;
            padding: 100px 15px;
            h1 {
                font-size: 23px;
                margin-bottom: 10px;
            }
    
            p {
                font-size: 14px;
            }
            .banner-content2{
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
// RESPONSIVE SEC END: