// // Footer Styles

// footer {
//   background-color: $offWhite;
//   overflow: hidden;
//   a {
//     text-transform: unset;
//   }
//   .footer-top {
//     padding: 65px 50px;
//     .logo {
//       width: 200px;
//     }
//     .footer-phone {
//       margin: 0 20px;
//       svg {
//         margin-right: 10px;
//         path {
//           fill: $accent;
//           @include hover-transition();
//         }
//       }
//       a {
//         font-family: $fontBody;
//         font-weight: $bold;
//         color: $accent;
//         font-size: 16px;
//         letter-spacing: 0.03px;
//         text-transform: uppercase;
//       }
//       &:hover {
//         a {
//           color: $primary;
//         }
//         svg {
//           path {
//             fill: $primary;
//           }
//         }
//       }
//     }
//   }
//   .footer-bottom {
//     border-top: solid #C3C9D1 2px;
//     padding: 35px 50px;
//     .footer-copyright {
//       a {
//         color: $textGray;
//         text-decoration: underline;
//         font-size: 14px;
//         &:hover {
//           color: $accent;
//         }
//       }
//     }
//     .social {
//       a {
//         margin-right: 20px;
//         &:last-of-type {
//           margin-right: 0;
//         }
//         &:hover {
//           svg path#Path, svg path#Shape {
//             fill: $accent;
//           }
//         }
//       }
//       svg path {
//         @include hover-transition();
//       }
//     }
//   }
//   .menu-footer-menu-container {
//     ul {
//       display: flex;
//       li {
//         list-style-type: none;
//         padding: 0 20px;

//         a {
//           text-decoration: none;
//           color: $textGray;
//           font-family: $fontBody;
//           font-weight: $regular;
//           font-size: 16px;
//           line-height: 24px;
//           position: relative;
//           display: flex;
//           align-items: center;
//           &:hover {
//             color: $accent;
//           }
//         }
//       }
//     }
//   }
// }


// FOOTER SEC START:
footer {
  background-color: #000;
  position: relative;

  .footer-top {
    display: flex;
    align-items: flex-start;
    padding: 100px 140px;

    .footer-top-left {
      max-width: 181px;
      margin-right: 251px;

      .footer-logo {
        margin-bottom: 59px;
      }

      .footer-top-left-address {
        margin-bottom: 35px;

        p {
          font-weight: 600;
        }
      }

      .footer-top-left-social-icons {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            list-style: none;

            a {
              margin-right: 30px;
              display: inline-block;

              img {
                width: 21px;
                height: 21px;
                object-fit: contain;
              }
            }

            &:last-child {
              a {
                margin-right: 0px;
              }
            }
          }
        }
      }

      .footer-top-left-contact {
        margin-bottom: 41px;

        a {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 500;
          font-family: $fontMain;
          display: block;
          margin-bottom: 6px;

          span {
            font-weight: 300;
            margin-right: 4px;
          }

          b {
            font-weight: bold;
          }
        }
      }
    }

    .footer-top-right.footer-navbar {
      width: 70%;
      display: flex;
      align-items: flex-start;

      ul {
        margin-right: 81px;

        li {
          list-style: none;

          span {
            font-size: 18px;
            line-height: 1.2;
            font-weight: bold;
            color: #ED207A;
            display: inline-block;
            margin-bottom: 20px;
          }

          a {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            display: inline-block;
            margin-bottom: 20px;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    padding: 39px 91px;
    border-top: 2px solid #F0EEE6;

    .footer-bottom-left {
      margin-right: 238px;

      ul {
        @include flexbox();
        @include align-items(center);

        li {
          list-style: none;
        }
      }
    }

    .footer-bottom-right {
      .footer-copyright {
        display: flex;
        align-items: center;

        p {
          font-family: $fontMain;
          margin: 0 30px;
        }
      }
    }
  }

  a,
  p {
    color: #fff;
  }

  &::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #F0EEE6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 440px;
  }
}

// FOOTER SEC END:

// RESPONSIVE SEC START:
@media only screen and (max-width: $breakpoint-desktop-sm) {
  footer {
    .footer-top {
      padding: 100px 90px;
    }

    &::after {
      left: 400px;
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop-xs) {
  footer {
    .footer-top {
      padding: 70px 50px;

      .footer-top-left {
        margin-right: 100px;

        .footer-top-left-contact {
          a {
            font-size: 14px;
          }
        }

        .footer-top-left-address {
          margin-bottom: 25px;

          p {
            font-size: 14px;
          }
        }

        .footer-top-left-social-icons {
          ul {
            justify-content: flex-start;

            li {
              a {
                margin-right: 14px;
              }
            }
          }
        }
      }

      .footer-top-right.footer-navbar {
        ul {
          li {
            a {
              font-size: 14px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .footer-bottom {
      padding: 39px 21px;

      .footer-bottom-left {
        margin-right: 88px;
      }

      .footer-copyright {
        p {
          font-size: 14px;
          margin: 0 20px;
        }
      }
    }

    &::after {
      left: 280px;
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet-lg) {
  footer {
    .footer-top {
      padding: 70px 50px;
      flex-direction: column;

      .footer-top-left {
        margin: 0 0 34px 0;
        max-width: 100%;

        .footer-top-left-contact {
          a {
            font-size: 14px;
          }
        }

        .footer-top-left-address {
          margin-bottom: 25px;

          p {
            font-size: 14px;
          }
        }

        .footer-top-left-social-icons {
          ul {
            justify-content: flex-start;

            li {
              a {
                margin-right: 14px;
              }
            }
          }
        }
      }

      .footer-top-right.footer-navbar {
        width: 100%;

        ul {
          li {
            a {
              font-size: 14px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .footer-bottom {
      padding: 39px 21px;
      flex-direction: column-reverse;

      .footer-bottom-left {
        margin-right: 0px;
      }

      .footer-copyright {
        p {
          font-size: 14px;
          margin: 0 20px;
        }
      }

      .footer-bottom-left {
        margin-top: 24px;
      }
    }

    &::after {
      content: unset;
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet-md) {
  footer {
    .footer-bottom {
      .footer-copyright {
        p {
          font-size: 14px;
          margin: 0 20px;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet-sm) {
  footer {
    .footer-top {
      @include align-items(center);
      text-align: center;
      border-left: 2px solid $white;
      border-right: 2px solid $white;
      margin: 0 50px;
      padding: 50px 0;

      .footer-top-left {
        margin: 0px;

        .footer-logo {
          img {
            margin: 0 auto;
          }
        }

        .footer-top-left-contact {
          a {
            font-size: 18px;
          }
        }

        .footer-top-left-address {
          p {
            font-size: 18px;
          }
        }

        .footer-top-left-social-icons {
          ul {
            @include justify-content(center);
          }
        }
      }

      .footer-top-right.footer-navbar {
        flex-direction: column;
        display: none;
      }
    }

    .footer-bottom {
      padding: 0px;

      .footer-bottom-right {
        border-bottom: 2px solid $white;
        padding: 50px;
        width: 100%;

        .footer-copyright {
          @include align-items(center);
          @include flex-direction(column);

          p {
            font-size: 16px;
            line-height: 1.6;
            margin: 0 10px;

            span {
              display: block;
            }
          }

          .tree {
            margin-bottom: 20px;

            &:last-child {
              display: none;
            }
          }
        }
      }

      .footer-bottom-left {
        margin: 0px;
        padding: 50px 42px;
        width: 100%;

        ul {
          @include justify-content(center);
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  footer {
    .footer-top {
      margin: 0 30px;
      padding: 30px 45px;

      .footer-top-left {
        .footer-logo {
          margin-bottom: 39px;
        }

        .footer-top-left-contact {
          a {
            font-size: 15px;
          }
        }

        .footer-top-left-address {
          p {
            font-size: 15px;
          }
        }
      }

      .footer-top-right.footer-navbar {
        flex-direction: column;

        ul {
          margin: 0 0 33px 0;

          li {
            span {
              margin-bottom: 10px;
            }
          }

          &:last-child {
            margin: 0px;
          }
        }
      }
    }

    .footer-bottom {
      .footer-bottom-right {
        padding: 50px 15px;

        .footer-copyright {

          // align-items: flex-start;
          p {
            font-size: 14px;
            // line-height: 1.2;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

// RESPONSIVE SEC END: