// Mobile Menu

.hamburger {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 33%;
  right: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;

  $span-space: 7px;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $accent;
    border-radius: $btn-border-radius;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: $span-space
    }

    &:nth-child(4) {
      top: $span-space * 2;
    }

  }

  &.open {
    span {
      background: $white;

      &:nth-child(1) {
        top: $span-space;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: $span-space;
        width: 0;
        left: 50%;
      }
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  max-width: 520px;
  background: $primary;
  z-index: 98;
  overflow: hidden;
  transition: 0.6s all ease-in-out;
  transition-delay: 0.5s;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;

    .menu-mobile-menu-container {
      ul {
        display: flex;
        flex-direction: column;

        li {
          list-style: none;
          padding: 10px 0;
          opacity: 0;
          position: relative;
          text-align: left;
          left: 30px;
          transition: 0.8s all ease-in-out;
          transition-delay: 0s;

          a {
            font-family: $fontMain;
            font-size: 20px;
            color: $white;
            padding: 0;

            &:before {
              height: 0;
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  &.open {
    width: 100%;
    overflow: visible;
    transition-delay: 0s;

    .container {
      .menu-mobile-menu-container {
        ul {
          li {
            opacity: 1;
            left: 0;
            transition: 0.8s all ease-in-out;

            &:first-of-type {
              transition-delay: 0.2s;
            }

            &:nth-of-type(2) {
              transition-delay: 0.4s;
            }

            &:nth-of-type(3) {
              transition-delay: 0.6s;
            }

            &:nth-of-type(4) {
              transition-delay: 0.8s;
            }

            &:nth-of-type(5) {
              transition-delay: 1s;
            }

            &:nth-of-type(6) {
              transition-delay: 1.2s;
            }

            &:nth-of-type(7) {
              transition-delay: 1.4s;
            }

            &:nth-of-type(8) {
              transition-delay: 1.6s;
            }

            &:nth-of-type(9) {
              transition-delay: 1.8s;
            }

            &:nth-of-type(10) {
              transition-delay: 2s;
            }
          }
        }
      }
    }
  }
}

// HEader css
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 99;

  .header-top-section {
    background-color: $primary;

    ul {
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);

      li {
        padding: 12px 50px;
        border-color: rgba(239, 239, 239, 0.5);
        border-width: 0 1px 0 1px;
        border-style: solid;
        margin-left: -1px;

        a {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 600;
          color: $white;
        }
      }
    }
  }

  .header-innerwrap-section {
    margin: 20px 42px 0px;
    background-color: $white;
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
    border-color: $primary;
    border-width: 1px 1px 4px;
    border-radius: 40px;
    border-style: solid;
    padding: 20px;
    height: 84px;
    position: relative;
    z-index: 99;
    @include transition(all 0.3s ease-in-out);
    line-height: 38px;

    .header-navbar {
      ul {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        padding-left: 80px;

        li {
          list-style-type: none;
          margin-right: 39px;

          &:nth-child(1) ul.sub-menu {
            @include column-count(2);

            li {
              &:nth-child(4) {
                position: absolute;
                top: 77px;
                left: 271px;
              }

              &:nth-child(5) {
                position: absolute;
                top: 136px;
                left: 271px;
              }

              a {
                margin-bottom: 28px;
                margin-right: 0px;
                display: inline-block;
              }
            }
            .sub-menu-content {
              width: 50%;
              margin: -38px 0 0 -190px;
              display: inline-block;
              background-color: #f0eee6;
              padding: 56px 50px;
              border-radius: 66px 30px 66px 30px;
              min-height: 400px;

              h3 {
                font-size: 23px;
                line-height: 1.6;
                margin-bottom: 24px;
                color: $primary;
              }

              p {
                font-size: 17px;
                line-height: 1.6;
                margin-bottom: 37px;
                font-family: $input-serif;
              }

              a {
                font-size: 20px;
                line-height: 1.2;
                display: inline-block;
                color: #ed247c;
                font-weight: $black;
                letter-spacing: 0px;
                margin-bottom: 0px;
              }

              &::after {
                content: "";
                background-image: url(/wp-content/themes/ogkbase/images/right-arrow-pink.svg);
                height: 16px;
                width: 13px;
                background-repeat: no-repeat;
                background-color: unset;
                position: absolute;
                transform: translate(10px, 12px);
              }
            }
          }

          &:nth-child(2) ul.sub-menu {
            @include column-count(2);
            left: 10px;
            width: 80%;

            li {
              width: 50%;
              margin-bottom: 17px;

              &:nth-child(1) span {
                color: #ed247c;
                font-weight: $bold;
              }

              &:nth-child(2) {
                position: absolute;
                left: 0px;
                top: 140px;
              }

              &:nth-child(3) {
                position: absolute;
                left: 0px;
                top: 195px;
              }

              &:nth-child(4) {
                position: absolute;
                left: 0px;
                top: 245px;
              }

              &:nth-child(5) {
                position: absolute;
                top: 80px;
                left: 291px;

                span {
                  color: #ed247c;
                  font-weight: $bold;
                }
              }

              &:nth-child(6) {
                position: absolute;
                top: 140px;
                left: 291px;
              }

              &:nth-child(7) {
                position: absolute;
                top: 195px;
                left: 291px;
              }

              &:nth-child(8) {
                position: absolute;
                top: 245px;
                left: 291px;
              }

              // &:last-child {
              //   width: 100%;
              //   margin: 0 auto;
              //   display: inline-block;

              //   h3 {
              //     font-size: 53px;
              //   }

                
              // }

            }
            .sub-menu-content {
              width: 100%;
              // margin-left: -170px;
              margin-left: 0px;
              position: relative;
              top: 0px;

              span {
                color: $primary;
                font-weight: $bold;
                background-color: #face37;
                border: 2px solid $primary;
                padding: 9px 14px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 50px;
              }

              img {
                height: 400px;
                width: 100%;
              }

              p {
                position: absolute;
                bottom: 20px;
                left: 50px;
                font-size: 19px;
                line-height: 1.6;
                opacity: 0.8;
                width: 70%;
                color: $white;
              }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 21px;
              }
            }
          }

          &:nth-child(3) ul.sub-menu {
            // old changes start:
            // @include column-count(2);
            @include column-count(1);
            // old changes end:
            left: 0;
            width: 90%;

            li {
              width: 50%;

              &:nth-child(4) {
                margin-bottom: 35px;
              }

              &:nth-child(8) {
                position: absolute;
                top: 80px;
                left: 300px;
              }

              &:nth-child(9) {
                position: absolute;
                top: 117px;
                left: 300px;
              }

              &:nth-child(10) {
                position: absolute;
                top: 157px;
                left: 300px;
              }

              &:nth-child(11) {
                position: absolute;
                top: 192px;
                left: 300px;
              }

              &:nth-child(12) {
                position: absolute;
                top: 270px;
                left: 300px;

                a {
                  font-size: 16px;
                  line-height: 1.2;
                  font-weight: $bold;
                  border: 2px solid $primary;
                  border-radius: 10px;
                  padding: 9px 10px;
                }
              }

              span {
                color: #ed247c;
              }

              a {
                font-weight: $medium
              }
            }
            .recidences-outerwrap {
              @include flexbox;
              @include flex-wrap(wrap);
              position: absolute;
              top: 50px;
              left: 620px;
              width: 50%;
              // width: 100%;

              a {
                margin-right: 0px;

                &:nth-child(odd) {
                  margin-right: 9px;
                  margin-bottom: 9px;
                }
              }
            }
          }

          &:nth-child(4) ul.sub-menu {
            @include column-count(2);
            left: 130px;
            width: 80%;

            li {
              margin-bottom: 17px;

              &:nth-child(3) {
                position: absolute;
                left: 0;
                top: 190px;
              }

              &:nth-child(4) {
                position: absolute;
                left: 0;
                top: 250px;
              }

              &:nth-child(5) {
                position: absolute;
                left: 0;
                top: 370px;

                a {
                  font-size: 16px;
                  line-height: 1.2;
                  font-weight: $bold;
                  border: 2px solid $primary;
                  border-radius: 10px;
                  padding: 9px 10px;
                }
              }

              // &:last-child {
              //   width: 100%;
              //   margin: 0 auto;
              //   display: inline-block;

              //   h3 {
              //     font-size: 53px;
              //   }

             
              // }
            }
            .sub-menu-content {
              margin-left: 440px;
              width: 100%;
              margin-top: -160px;
            }
          }

          &:nth-child(5) ul.sub-menu {
            @include column-count(2);

            .sub-menu-content {
              width: 50%;
              display: inline-block;
              background-color: #f0eee6;
              padding: 56px 50px;
              border-radius: 66px 30px 66px 30px;

              h3 {
                font-size: 24px;
                line-height: 1.6;
                margin-bottom: 24px;
                font-weight: $black;
                color: $primary;
              }

              p {
                font-size: 16px;
                line-height: 1.6;
                margin-bottom: 37px;
                font-family: $input-serif;
              }

              a {
                @include theme-btn(18px, #FACE37, 18px 43px, 6px 7px 0px 0px rgba(0, 0, 0, 1));

                &:focus,
                &:hover {
                  @include theme-btn-hover;
                }
              }
              .sub-menu-content {
                margin-left: unset;
              }
            }

            .sub-menu-content-images-outerwrap{
              // .sub-menu-content {
                // margin-left: -360px;
                margin-left: 0px;
                @include flexbox();
                // width: 80%;
                width: 40%;
                position: absolute;
                top: 60px;
                left: 400px;
            
              .sub-menu-content-innerwrap{
                margin: 0 10px 10px 0;
                &:first-child{
                  
                  .sub-menu-content-images-innerwrap{
                    margin: 0 0px 10px 0;
                    img{
                      width: 595px;
                      height: 187px;
                      object-fit: cover;
                      border-radius: 12px;
                      border: 1px solid #000;
                    }
                  }
                }
                &:last-child{
                  img{
                    width: 595px;
                    height: 384px;
                    object-fit: cover;
                    border-radius: 12px;
                    border: 1px solid #000;
                  }
                }
              }
            }
          }

          &:nth-child(6) ul.sub-menu {
            // old changes start:
            // @include column-count(2);
            // old changes end:
            width: 40%;
            li {
              margin-bottom: 16px;

              &:first-child {
                margin-top: 30px;

                span {
                  color: #f04c94;
                  display: inline-block;
                  font-weight: $semiBold;
                  font-size: 19px;
                  line-height: 1.2;
                }
              }

              &:nth-child(3) {
                margin-bottom: 0px;
                line-height: 1;
              }

              &:nth-child(4) {
                margin-bottom: 0px;
                line-height: 1;
                margin-bottom: 56px;
              }
              // changes start:
              &:last-child {
                // new changes start:
                // position: absolute;
                // right: -490px;
                // top: 70px;
                // mew changes end:
              }
              // changes end:
            

              p {
                width: 40%;
                font-weight: $medium;
              }

              b {
                font-weight: $black;
              }
            }
            .social-icons {
              @include flexbox;
              @include align-items(center);

              a {
                margin-right: 27px;

                img {
                  width: 100%;
                  max-width: 29px;
                  height: 29px;
                }
              }
            }
            .sub-menu-content {
              position: absolute;
              right: -140px;
              top: 70px;
              margin-left: -30px;
            }
          }

          a {
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            font-weight: 400;
            letter-spacing: 1.79px;
            position: relative;
            z-index: 9999;
          }

          ul.sub-menu {
            position: absolute;
            left: 125px;
            top: 47px;
            margin: 0 80px;
            @include align-items(flex-start);
            opacity: 0;
            visibility: hidden;
            padding: 80px 0 0;
            @include transition(all 0.3s ease-in-out);
            display: inline-block;
            pointer-events: none;
            
          }
          &.expand-submenu{
            &:hover {
                ul.sub-menu {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: auto;
                  
                }
            }
          }
          

          a {
            letter-spacing: 0px;
          }

          &:hover>a::after {
            width: 100%;
          }
          &:last-child{
            margin-right: 0px;
          }
          // &:hover {
          //   .header-innerwrap-section{
          //     height: 600px !important;
          //   }
          // }
        }
      }

      >ul>li>a::after {
        content: "";
        background-color: #face37;
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        z-index: -1;
        width: 0px;
        @include transition(all 0.5s ease-in-out);
      }
    }

    // &:hover {
    //   height: 600px;
    // }

    .header-left {
      @include flexbox;
      @include align-items(center);
    }

    .contact-no {
      a {
        font-weight: $medium;
      }

      ul {
        list-style: none;
        @include flexbox;
        position: absolute;
        right: 15px;
        top: 47px;
        opacity: 0;
        visibility: hidden;
        padding-top: 51px;

        li {
          &:first-child a {
            margin-right: 9px;
          }

          a {
            text-transform: capitalize;
            border: 2px solid $primary;
            padding: 7px 9px;
            border-radius: 9px;

            &:hover {
              background-color: #e3faff;
            }
          }
        }
      }

      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
        }

        >a {
          background-color: #0cf;
        }
      }
    }

    &.expandbg {
      &:hover {
        height: 600px;
      }
    }
  }

  .header-mobile-outerwrap {
    display: none;
  }

  .abc {
    // opacity: 1 !important;
    // visibility: visible !important;
    // height: auto !important;
    @include hover-transition;
    display: block !important;
  }
}

// RESPONSIVE SEC START:
@media only screen and (max-width: $breakpoint-desktop-xl) {
  header {
    .header-innerwrap-section {
      .header-navbar {
        ul {
          li {
            &:nth-child(1) ul.sub-menu {
              .sub-menu-content {
                width: 70%;
                margin: -38px 0 0 40px;
              }
            }

            &:nth-child(2) ul.sub-menu {

              .sub-menu-content {
                margin-left: 0px;
                top: 0px;

              }
            }

            &:nth-child(5) ul.sub-menu {
              @include column-count(2);
  
              .sub-menu-content {
                width: 63%;
                .sub-menu-content {
                  margin-left: unset;
                }
              }
  
              .sub-menu-content-images-outerwrap{
                  // margin-left: -190px;
                  // width: 100%;
                  top: 62px;
                  left: 33%;
                  width: 50%;
                .sub-menu-content-innerwrap{
                  margin: 0 10px 10px 0;
                  &:first-child{
                    .sub-menu-content-images-innerwrap{
                      margin: 0 0px 10px 0;
                      img{
                        width: 595px;
                        height: 187px;
                        object-fit: cover;
                        border-radius: 12px;
                        border: 1px solid #000;
                      }
                    }
                  }
                  &:last-child{
                    img{
                      width: 595px;
                      height: 384px;
                      object-fit: cover;
                      border-radius: 12px;
                      border: 1px solid #000;
                    }
                  }
                }
              }
            }

            &:nth-child(6) ul.sub-menu {
              width: 55%;
              
              .social-icons {
                @include flexbox;
                @include align-items(center);
  
                a {
                  margin-right: 27px;
  
                  img {
                    width: 100%;
                    max-width: 29px;
                    height: 29px;
                  }
                }
              }
              .sub-menu-content {
                right: -110px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop-med) {
  header {
    .header-innerwrap-section {
      .header-navbar {
        ul {
          li {
            &:nth-child(1) ul.sub-menu {
              .sub-menu-content {
                width: 70%;
                margin: -38px 0 0 40px;
              }
            }

            &:nth-child(2) ul.sub-menu {

              .sub-menu-content {
                margin-left: 0px;
                top: 0px;

              }
            }

            &:nth-child(5) ul.sub-menu {
              @include column-count(2);
  
              .sub-menu-content {
                width: 75%;
                .sub-menu-content {
                  margin-left: unset;
                }
              }
  
              .sub-menu-content-images-outerwrap{
                // .sub-menu-content {
                  // margin-left: -120px;
                  // width: 100%;
                  width: 60%;
                  left: 39%;
                .sub-menu-content-innerwrap{
                  margin: 0 10px 10px 0;
                  &:first-child{
                    .sub-menu-content-images-innerwrap{
                      margin: 0 0px 10px 0;
                      img{
                        width: 595px;
                        height: 187px;
                        object-fit: cover;
                        border-radius: 12px;
                        border: 1px solid #000;
                      }
                    }
                  }
                  &:last-child{
                    img{
                      width: 595px;
                      height: 384px;
                      object-fit: cover;
                      border-radius: 12px;
                      border: 1px solid #000;
                    }
                  }
                }
              }
            }

            &:nth-child(6) ul.sub-menu {
              width: 55%;
              
              .social-icons {
                @include flexbox;
                @include align-items(center);
  
                a {
                  margin-right: 27px;
  
                  img {
                    width: 100%;
                    max-width: 29px;
                    height: 29px;
                  }
                }
              }
              .sub-menu-content {
                right: -160px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop-sm) {
  header {
    .header-innerwrap-section {
      .header-navbar {
        ul {
          li {
            &:nth-child(1) ul.sub-menu {
              .sub-menu-content {
                width: 80%;
                margin: -38px 0 0 40px;
              }
            }

            &:nth-child(2) ul.sub-menu {

              .sub-menu-content {
                margin-left: 0px;
                top: 0px;

              }
            }

            &:nth-child(3) ul.sub-menu {
              @include column-count(1);
              left: 0;
              width: 90%;

              .recidences-outerwrap {
                @include flexbox;
                @include flex-wrap(wrap);
                position: absolute;
                top: 50px;
                left: 530px;
                width: 50%;
                // width: 100%;
  
                a {
                  margin-right: 0px;
                  width: 48%;
                  &:nth-child(odd) {
                    margin-right: 9px;
                    margin-bottom: 9px;
                  }
                  img{
                      
                  }
                }
              }
            }

            &:nth-child(5) ul.sub-menu {
              @include column-count(2);
  
              .sub-menu-content {
                width: 84%;
                .sub-menu-content {
                  margin-left: unset;
                }
              }
  
              .sub-menu-content-images-outerwrap{
                // .sub-menu-content {
                  // margin-left: -60px;
                  // width: 500px;

                .sub-menu-content-innerwrap{
                  margin: 0 10px 10px 0;
                  &:first-child{
                    .sub-menu-content-images-innerwrap{
                      margin: 0 0px 10px 0;
                      img{
                        width: 795px;
                        height: 187px;
                        object-fit: cover;
                        border-radius: 12px;
                        border: 1px solid #000;
                      }
                    }
                  }
                  &:last-child{
                    img{
                      width: 895px;
                      height: 384px;
                      object-fit: cover;
                      border-radius: 12px;
                      border: 1px solid #000;
                    }
                  }
                }
              }
            }

            &:nth-child(6) ul.sub-menu {
              width: 65%;
              
              .social-icons {
                @include flexbox;
                @include align-items(center);
  
                a {
                  margin-right: 27px;
  
                  img {
                    width: 100%;
                    max-width: 29px;
                    height: 29px;
                  }
                }
              }
              .sub-menu-content {
                right: -160px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-desktop-xs) {
  header {
    .header-innerwrap-section {
      .header-navbar {
        ul {
          padding-left: 50px;

          li {
              margin-right: 24px;
            &:nth-child(1) ul.sub-menu {
                left: 0px;
              .sub-menu-content {
                  width: 100%;
                  margin: -38px 0 0 40px;
                  padding: 36px 29px;
                  min-height: 300px;
                h3{                  
                  font-size: 20px;
                  line-height: 1.6;
                  margin-bottom: 12px;
                }
                p{
                  font-size: 14px;
                  line-height: 1.6;
                  margin-bottom: 17px;
                }
              }
            }

            &:nth-child(2) ul.sub-menu {
              
            li {
              width: 50%;
              margin-bottom: 17px;

              &:nth-child(1) span {
                color: #ed247c;
                font-weight: $bold;
              }

              &:nth-child(2) {
                position: absolute;
                left: 0px;
                top: 140px;
              }

              &:nth-child(3) {
                position: absolute;
                left: 0px;
                top: 195px;
              }

              &:nth-child(4) {
                position: absolute;
                left: 0px;
                top: 245px;
              }

              &:nth-child(5) {
                position: absolute;
                top: 80px;
                left: 200px;

                span {
                  color: #ed247c;
                  font-weight: $bold;
                }
              }

              &:nth-child(6) {
                position: absolute;
                top: 140px;
                left: 200px;
              }

              &:nth-child(7) {
                position: absolute;
                top: 195px;
                left: 200px;
              }

              &:nth-child(8) {
                position: absolute;
                top: 245px;
                left: 291px;
              }

              // &:last-child {
              //   width: 100%;
              //   margin: 0 auto;
              //   display: inline-block;

              //   h3 {
              //     font-size: 53px;
              //   }

                
              // }

            }
              .sub-menu-content {
                margin-left: 0px;
                top: 0px;
                span{
                  left: 30px;
                }
                img{
                  height: 250px;
                }
                p{
                  left: 30px;
                  font-size: 16px;
                }
              }
            }

            &:nth-child(3) ul.sub-menu {
              @include column-count(1);
              left: 0;
              width: 90%;
              li{
                
              &:nth-child(8) {
                position: absolute;
                left: 200px;
              }

              &:nth-child(9) {
                position: absolute;
                left: 200px;
              }

              &:nth-child(10) {
                position: absolute;
                left: 200px;
              }

              &:nth-child(11) {
                position: absolute;
                left: 200px;
              }

              &:nth-child(12) {
                position: absolute;
                left: 200px;

                a {
                  font-size: 16px;
                  line-height: 1.2;
                  font-weight: $bold;
                  border: 2px solid $primary;
                  border-radius: 10px;
                  padding: 9px 10px;
                }
              }
              
            }
              .recidences-outerwrap {
                @include flexbox;
                @include flex-wrap(wrap);
                position: absolute;
                top: 50px;
                left: 400px;
                width: 50%;
                // width: 100%;
  
                a {
                  margin-right: 0px;
                  width: 48%;
                  &:nth-child(odd) {
                    margin-right: 9px;
                    margin-bottom: 9px;
                  }
                }
              }
            }

            &:nth-child(4) ul.sub-menu {
              left: 70px;

              li {
                margin-bottom: 7px;

                &:nth-child(3) {
                  top: 170px;
                }

                &:nth-child(4) {
                  top: 220px;
                }

                &:nth-child(5) {
                  top: 299px;

                  a {}
                }

              }
              .sub-menu-content {
                margin-left: 340px;
                width: 100%;
                margin-top: -120px;
              }
            }

            &:nth-child(5) ul.sub-menu {
              @include column-count(2);
              left: 0;
  
              .sub-menu-content {
                width: 73%;
                padding: 36px 29px;
                min-height: 300px;
                .sub-menu-content {
                  margin-left: unset;
                }
              }
  
              .sub-menu-content-images-outerwrap{
                // .sub-menu-content {
                  margin-left: -80px;
                  width: 470px;
                .sub-menu-content-innerwrap{
                  margin: 0 10px 10px 0;
                  &:first-child{
                    .sub-menu-content-images-innerwrap{
                      margin: 0 0px 10px 0;
                      img{
                        width: 795px;
                        height: 187px;
                        object-fit: cover;
                        border-radius: 12px;
                        border: 1px solid #000;
                      }
                    }
                  }
                  &:last-child{
                    img{
                      width: 895px;
                      height: 384px;
                      object-fit: cover;
                      border-radius: 12px;
                      border: 1px solid #000;
                    }
                  }
                }
              }
            }

            &:nth-child(6) ul.sub-menu {
              width: 65%;
              
              .social-icons {
                @include flexbox;
                @include align-items(center);
  
                a {
                  margin-right: 27px;
  
                  img {
                    width: 100%;
                    max-width: 29px;
                    height: 29px;
                  }
                }
              }
              .sub-menu-content {
                right: -140px;
                img{
                  width: 80%;
                }
              }
            }

            a {
              font-size: 14px;
              // margin-right: 24px;
            }
            &:last-child{
              margin-right: 0px;
            }
          }
        }
      }

      // &:hover {
      //   height: 430px;
      // }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet-lg) {
  header {
    .header-desktop {
      display: none;
    }

    .header-mobile-outerwrap {
      display: block;
      border-color: #000;
      border-width: 1px 1px 4px;
      border-radius: 20px;
      border-style: solid;
      margin: 10px;
      padding: 22px 25px;
      background-color: $white;
      @include hover-transition;
      position: relative;

      .header-mobile-top {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);

        .contact-no {
          a {
            font-weight: $medium;
          }

          ul {
            list-style: none;
            @include flexbox;
            position: absolute;
            right: 15px;
            top: 47px;
            opacity: 0;
            visibility: hidden;
            padding-top: 51px;
            background-color: $white;
            overflow: hidden;
            border-radius: 9px;

            li {
              &:first-child a {
                margin-right: 9px;
              }

              a {
                text-transform: capitalize;
                border: 2px solid $primary;
                padding: 7px 9px;
                border-radius: 9px;
                display: inline-block;

                &:hover {
                  background-color: #e3faff;
                }
              }
            }
          }

          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }

            >a {
              background-color: #0cf;
            }
          }
        }

        .mobile-logo {
          padding-left: 49px;
        }
      }

      .header-mobile-topwrap {
        // opacity: 0;
        // height: 0;
        // visibility: hidden;
        // transition: all 0.5s linear;
        display: none;
        @include hover-transition;
        .header-mobile-help-service {
          padding: 39px 0 29px;

          h4 {
            font-size: 20px;
            line-height: 1.2;
            color: $primary;
            font-weight: $bold;
            font-family: $fontMain;
            margin-bottom: 30px;
          }

          ul {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);

            li {
              font-size: 17px;
              line-height: 1.2;
              color: $primary;
              font-weight: $medium;
              font-family: $fontMain;
              list-style: none;
            }
          }
        }

        .header-mobile-nav {
          .menu-mobile-menu-container>ul>li {
            border-top: 1px solid $primary;
            list-style: none;
            padding: 29px 0px;

            >a {
              font-size: 20px;
              line-height: 1.2;
              color: $primary;
              font-weight: $bold;
              font-family: $fontMain;
              display: inline-block;
              margin-bottom: 30px;
            }

            ul {
              li {
                font-size: 18px;
                line-height: 1.2;
                color: $primary;
                font-weight: $regular;
                font-family: $fontMain;
                list-style: none;
                margin-bottom: 30px;

                &:last-child {
                  margin-bottom: 0px;
                }
              }

              .pink-text>a {
                font-size: 18px;
                line-height: 1.2;
                color: #ED207A;
                font-weight: $regular;
                font-family: $fontMain;
                display: inline-block;
                margin-bottom: 30px;
              }
            }

            &:last-child,
            &:nth-last-child(2) {
              border-top: unset;
              padding: 0px;
            }
          }
        }

        .header-contact-info {

          .header-contact-info-contact {
            margin-bottom: 29px;

            a {
              font-size: 18px;
              font-weight: $medium;
              display: block;
              color: $primary;
              font-family: $fontMain;

              b {
                font-weight: $medium;
              }
            }
          }

          .header-contact-info-address {
            margin-bottom: 25px;

            p {
              font-size: 18px;
              font-weight: $medium;
              color: $primary;
              display: block;
              font-family: $fontMain;
            }
          }

          .header-contact-info-social-icons {
            margin-bottom: 30px;

            ul {
              @include flexbox();
              @include align-items(center);

              li {
                list-style: none;
                margin-right: 20px;

                &:last-child {
                  margin-right: 0px;
                }
              }
            }
          }

          .header-copyright {
            margin-bottom: 50px;

            p {
              font-size: 16px;
              line-height: 1.6;
              color: $primary;
              font-weight: $regular;

              span {
                display: block;
              }
            }
          }

          .header-bottom-left {
            ul {
              @include flexbox();
              @include align-items(center);

              li {
                list-style: none;

                // img {
                //   width: 65px;
                //   height: 65px;
                //   object-fit: contain;
                // }
              }
            }
          }
        }
      }

      .hamburger-nav {
        position: absolute;
        left: 25px;
        top: 31px;
        height: auto;

        span {
          background-color: $primary;
          width: 23px;
          height: 3px;
          border-radius: 30px;
          display: block;
          margin-bottom: 7px;
          // transition: all ease-in-out 0.5s;
          @include hover-transition;

          &:first-child {
            top: 8px;
          }

          &:nth-child(2) {
            top: 16px;
            width: 14px;
          }

          &:last-child {
            top: 24px;
            margin-bottom: 0px;
          }
        }

        .cross {
          &:first-child {
            transform: rotate(47deg) translate(8px, 7px);
          }

          &:nth-child(2) {
            display: none;
          }

          &:last-child {
            transform: rotate(-49deg) translate(0px, 0px);
          }
        }

      }
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet-sm) {
  header {
    .header-mobile-outerwrap {
      .header-mobile-top {
        .contact-no {
          a {
            font-weight: $medium;
          }

          ul {
            list-style: none;
            @include flexbox;
            position: absolute;
            right: 15px;
            top: 47px;
            opacity: 0;
            visibility: hidden;
            padding-top: 51px;
            background-color: $white;

            li {
              &:first-child a {
                margin-right: 9px;
              }

              a {
                text-transform: capitalize;
                border: 2px solid $primary;
                padding: 7px 9px;
                border-radius: 9px;

                &:hover {
                  background-color: #e3faff;
                }
              }
            }
          }

          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }

            >a {
              background-color: #0cf;
            }
          }
        }

        .mobile-logo {
          padding-left: 39px;
          width: 50%;
        }
      }

      .header-mobile-topwrap {
        .header-mobile-help-service {
          h4 {
            font-size: 17px;
          }

          ul {
            li {
              font-size: 14px;
            }
          }
        }
      }

      .hamburger-nav {
        top: 26px;
      }
    }
  }
}

// @media only screen and (max-width: $breakpoint-phone) {
//   header {
//     .header-mobile-outerwrap {
//       .header-mobile-top {
//         .contact-no {
//           a {
//             font-weight: $medium;
//           }

//           ul {
//             list-style: none;
//             @include flexbox;
//             position: absolute;
//             right: 15px;
//             top: 47px;
//             opacity: 0;
//             visibility: hidden;
//             li {
//               &:first-child a {
//                 margin-right: 9px;
//               }

//               a {
//                 text-transform: capitalize;
//                 border: 2px solid $primary;
//                 padding: 7px 9px;
//                 border-radius: 9px;

//                 &:hover {
//                   background-color: #e3faff;
//                 }
//               }
//             }
//           }

//           &:hover {
//             ul {
//               opacity: 1;
//               visibility: visible;
//             }

//             >a {
//               background-color: #0cf;
//             }
//           }
//         }

//         .mobile-logo {
//           padding-left: 39px;
//           width: 50%;
//         }
//       }
//       .header-mobile-topwrap{
//         .header-mobile-help-service{
//           h4{
//             font-size: 17px; 
//           }
//           ul{
//             li{
//               font-size: 14px;
//             }
//           }
//         }
//       }

//       .hamburger-nav {
//         top: 26px;
//       }
//     }
//   }
// }

// RESPONSIVE SEC END: